
<table id="contributionsTable" ng-controller="ContributionsController as contributionsCtrl" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Repository <i class="glyphicon glyphicon-question-sign"
                tooltip="{{ 'contributions.list.repository.tooltip' | translate }}"></i></th>
            <th>Requester</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>BB <i class="glyphicon glyphicon-question-sign"
                tooltip="{{ 'contributions.list.bb.tooltip' | translate }}"></i></th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody ng-repeat="contribution in contributions">
        <tr>
            <!--
            <td><a href="#/contributions/{{ contribution.id }}/">{{ contribution.id }}</a></td>
            <td><a href="#/contributions/{{ contribution.id }}/">{{ contribution.name }}</a></td>
            -->
            <!-- TODO use real IDs from the server -->
            <td><a href="#/contributions/1/">1</a></td>
            <td><a href="#/contributions/1/">{{ contribution.name }}</a></td>
            <td>{{ contribution.repositoryId }}</td>
            <td>{{ contribution.requester.name }}</td>
            <td>{{ contribution.createdOnForDisplay | date : 'dd MMM yyyy HH:mm' }}</td>
            <td>{{ contribution.updatedOnForDisplay | date : 'dd MMM yyyy HH:mm' }}</td>
            <td>{{ contribution.pullRequestId }}</td>
            <td>TODO - Derive from Events</td>
        </tr>
    </tbody>
</table>
